/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Ubuntu', sans-serif; */

:root {
  --primary: #e35073;
  --link-color: #3f1717;
  --link-hover: #551414;
  --primary-background: rgba(250, 239, 241, 0.48);
  --footer-background: #3d1f26;
  --footer-text: #e5e5e5;
  --dark-font: rgba(0, 0, 0, 0.75);
  --fast-transition: 300ms all ease-in-out;
  --slow-transition: 1000ms all ease-in-out;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  min-width: 320px;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
li {
  color: var(--dark-font);
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.015em;
  margin: 0;
}

.hero h1 {
  margin-top: 35px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 58px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
}

span.text-logo {
  color: var(--dark-font);
  position: relative;
  top: 14px;
  left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-shadow: var(--shadow);
}

li {
  list-style: none;
}

img.line-breaker {
  display: block;
  margin: 0 auto 50px auto;
  width: 130px;
}
.navbar {
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
}
.navbar-brand {
  margin-right: 2rem;
}

.navbar-brand img {
  margin-left: 25px;
}

.navbar-nav .nav-link {
  color: var(--link-color) !important;
  padding-right: 0;
  padding-left: 60px;
}

.nav-link:hover {
  color: var(--link-hover);
  text-decoration: overline;
}
.hero {
  padding-top: 50px;
  padding-bottom: 100px;
}

.hero-image {
  background-image: url(/images/hero-image.png);
  padding: 210px 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: var(--slow-transition);
}

.hero-image:hover {
  background-image: url(/images/hero-image-2.png);
}

.hero .img-fluid {
  margin-left: 20px;
}

.hero-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.primary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  background: var(--primary);
  padding: 12px 25px;
  margin: 20px 20px;
  color: white;
  transition: var(--fast-transition);
}

.primary-button:hover {
  color: var(--link-hover);
  font-weight: 500;
  transform: scale(1.1);
}

.secondary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  border: 1px solid var(--primary);
  padding: 12px 25px;
  margin: 20px 20px;
  color: var(--primary);
  transition: var(--fast-transition);
}

.secondary-button:hover {
  color: var(--primary);
  font-weight: 500;
  transform: scale(1.1);
}

.services,
.projects {
  background: var(--primary-background);
  padding-top: 50px;
  padding-bottom: 100px;
}

.features {
  padding-top: 50px;
}

.flexible-grid {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-features {
  box-shadow: var(--shadow);
  border-radius: 15px;
  border: 1px solid #0000000a;
  max-width: 80%;
  position: relative;
  right: -35px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  transition: var(--fast-transition);
}

.img-features:hover {
  filter: none;
  -webkit-filter: none;
}

.toTop {
  padding-bottom: 70px;
  padding-top: 20px;
}

.toTop a {
  color: var(--primary);
  display: block;
  text-align: right;
  margin-right: 50px;
  font-size: 20px;
  margin-bottom: -50px;
  text-decoration: none;
}

.toTop i {
  font-size: 40px;
}

.footer {
  background-color: var(--footer-background);
  margin: 0 auto;
  padding: 25px;
}

.footer-logo {
  position: relative;
  top: -5px;
}

.footer .text-logo {
  color: var(--footer-text);
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  margin-left: 10px;
  letter-spacing: -0.015em;
  text-shadow: var(--shadow);
}

.footer .container {
  border-bottom: 1px solid var(--footer-text);
}

.footer .icons i {
  color: var(--footer-text);
  font-size: 36px;
  line-height: 60px;
}

.footer p {
  color: var(--footer-text);
  line-height: 40px;
}

.about-hero {
  background-color: #3d1f26;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-hero h1,
.about-hero h2 {
  color: white;
}

.about {
  margin: 100px auto;
}

.profile-photo {
  display: block;
  border-radius: 300px;
  margin: 0 auto;
  max-width: 80%;
}

.skill {
  background-color: var(--primary-background);
  margin: 100px auto;
  padding: 100px;
}

.skill h3 {
  margin-top: 5px;
  font-size: 20px;
}

.education {
  margin: 100px 50px;
  background-image: url(/images/undraw_researching.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 40%;
  background-position-x: right;
}

.education-block {
  background-image: url(/images/Rectangle-medium.png);
  background-repeat: no-repeat;
  background-position-x: 130px;
  background-position-y: 70px;
}

.certification-block {
  background-image: url(/images/Rectangle-short.png);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: -80px;
}

.language-block {
  background-image: url(/images/Rectangle-short.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

.hero.portfolios .d-flex {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}

.project-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
}

.project-item div.img-container {
  text-align: center;
  margin: 0 auto;
  padding-right: 70px;
  height: 350px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0000000a;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.project-item img {
  filter: none;
}

.project-item .secondary-button {
  margin: 20px 0;
}

.project-item li {
  list-style-type: disc;
}

@media (min-width: 576px) and(max-width: 720px) {
  .flexible-grid.reverse {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

/* Media Query Small Screen & Tablet */
@media (max-width: 767.98px) {
  h3,
  h3.text-end,
  p,
  p.text-end {
    text-align: center !important;
    padding: 0 20px;
  }
  h1 {
    font-size: 58px;
    line-height: 60px;
  }
  h2 {
    margin: 20px auto;
    font-size: 25px;
    line-height: 42px;
  }

  .about p {
    font-size: 14px;
    padding: 0px 35px;
  }

  .skill h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
  }

  .hero {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .hero-image {
    padding: 135px 100px;
  }
  .hero .img-fluid {
    margin-left: 2px;
  }
  .primary-button {
    padding: 12px 11px;
    margin: 20px 5px;
  }
  .about-hero .primary-button {
    display: block;
  }
  .flexible-grid.reverse {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .img-features {
    left: 20px;
  }

  .profile-photo {
    margin: 20px auto;
    max-width: 70%;
  }

  .education {
    background-size: 100%;
  }

  .education-block {
    background-position-x: -12px;
  }

  .certification-block {
    background-position-x: -15px;
  }
  .language-block {
    background-position-x: -10px;
  }

  .secondary-button {
    background: white;
    font-size: 15px;
    padding: 10px 25px;
    margin: 10px 0px 80px;
  }
}

/* Media Query Laptop */
@media (min-width: 768px) and (max-width: 992px) {
  .about p {
    padding: 0 20px;
  }

  .skill h3 {
    line-height: 25px;
    margin-top: 15px;
  }
  .col-md-6 {
    width: 100%;
  }

  .hero-image {
    background-size: 90%;
  }

  .hero .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img-features {
    left: 50px;
  }

  .profile-photo {
    margin: 20px auto;
    max-width: 55%;
  }

  .education-block {
    background-position-x: 70px;
  }

  .img-fluid {
    max-width: 65%;
  }
}

/* Media Query Big Screen resolution */
@media (min-width: 992px) {
  .navbar-brand img {
    margin-left: 50px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.015em;
    line-height: 20px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .nav-link.active {
    font-weight: bold !important;
  }
}

/* Media query 4K resolution */
@media (min-width: 2560px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 2.75rem;
  }
  p {
    font-size: 25px;
  }
  .navbar {
    transform: scale(1.6);
  }
  .nav-link {
    font-size: 20px;
  }
  .hero {
    transform: scale(1.3);
  }
  .navbar-brand img {
    margin-left: 550px;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-right: 700px;
  }
  .primary-button {
    font-size: 30px;
  }
}
