/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Ubuntu', sans-serif; */

h1 {
  font-family: "Karla", sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 80px;
}
